*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
}

@media only screen and (min-width: 700px){
  html{
    max-width: 700px;
    margin: 0 auto;
  }
}

button{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}